.TITULO_1 {
  -webkit-text-stroke: 1px grey;
  font-family: sans-serif;
  color:rgba(255, 255, 255, 0.685);
}
.TITULO_2 {
  -webkit-text-stroke: 1px grey;
  font-family: sans-serif;
  color:rgba(255, 255, 255, 0.685);
}
